# Environments
venv/
.env

# MacOS
.DS_Store

# Python
__pycache__/
*.pyc

# Data and Models
# Uploads
webapp/static/uploads/*
clean_part.aiff
toxic_part.aiff
webapp/static/uploads/*
sample_test_video.mp4
clean_part.aiff
toxic_part.aiff
